<div id="app" class="container-fluid" style="margin-top: 65px; margin-left:0px;margin-right:0px; padding:0px;">

    <img class="img-fluid" src="../images/main_page_slider/creating_story.png" alt="">

    <div class="myContainer2">
        <h3>З чого все починалось?</h3>
        <p> <i style="font-size: 0.8em;  padding-bottom:20px; display: block; ">Зі слів одного із
                засновників
                проекту:</i>
        </p>
        <p>«My Plywood House» - це молода компанія, що була створена в 2019 році, на базі виробничого підприємства з
            досвідом роботи більше 9 років. А уже в 2020 році на ваш результат працює штат працівників, що складається
            із висококваліфікованих дизайнерів, менеджерів, верстатників, операторів ЧПУ фрезерних на лазерних станків.
        </p>
        <p>Сама робота з деревом мене дуже захоплювала з дитинства, адже є щось магічно-неймовірне у цьому матеріалі на
            відміну від інших. Його структура є унікальною, як людські відбитки пальців. Такі вироби несуть таємничу
            гармонію.</p>
        <p>Тому, коли мені власне випала нагода попрацювати на такому виробництві, що і стало початком зародження ідеї,
            я відразу погодився. Це маленьке підприємство займалось виготовлення різноманітних виробів з дерева, від
            звичайного дерев’яного посуду до створення жалюзійних дверей та іконостасів під замовлення.</p>
        <p>Перше, що мене здивувало, було те , як я досі не знав, що у моєму місті є таке виробництво. З часом, що я там
            працював, я зрозумів, що справа була у відсутності свіжих поглядів на продаж товарів. Все працювало, як
            кажуть у народі - за допомогою сарафанного радіо та ярмарок, що проходять у різних містах України. Ось тут
            я вдруге замислився над створенням чогось більшого.</p>
        <p>Пам’ятаю, що мене приємно вразило те, як на невеличкому подвір’ї розмістилось декілька, на вигляд ні чим
            непримітних будівель, в яких знаходилось безліч деревообробних верстатів, окремі приміщення для фрезерних та
            лазерних станків чпу, лакувальний цех, власна сушильна кімната для деревяних матеріалів, складські
            приміщання, проектна кімната та інші робочі приміщення.</p>
        <p>Одного разу, клієнт, помилившись із розмірами, повернув велику партію підносів для ресторану і керівництво,
            без
            проблем, передало весь товар на коригування у мій цех. Я гадав, що це не вигідно робити одну роботу
            двічі, на що мені відповіли, що не вигідно втрачати гарну думку клієнта про нас, адже задоволений клієнт
            завжди повернеться.</p>
        <p>Безпосередньо мені вдалось попрацювати на ярмарках, фестивалях та святах різних міст. І саме в таких місцях
            люди місцях хочуть надибати щось особливе і оригінальне. Саме в цей час ми приходимо на допомогу,
            допомагаємо підібрати розмір та матеріал відповідно до потреб, малюємо персональний дизайн, підбираємо
            гравіювання, даємо рекомендації щодо використання. В той час я почув від свого директора а нині
            колеги таку фразу: «Якщо поламається, приносьте наступного року - безкоштовно замінимо».</p>
        <p>Однак час не стоїть на місці, а тому потрібно йти з ним в ногу . Більшість клієнтів переходять на простори
            інтернету, а значить і ми з ними.
        </p>
        <p> Раді вас вітати в інтернет магазині «My Plywood House»</p>
        <h3>Актуальність</h3>
        <p>Сьогодні, по всьому світу, люди високо цінують продукцію виготовлену з натуральних матеріалів, оскільки
            такі вироби екологічно чисті та не завдають шкоди навколишньому середовищу.
            Наші речі з дерева випромінюють ні з чим незрівнянну позитивну енергетику і тепло. Вони несуть у собі
            таємничість і гармонію природи. У них унікальним чином поєднуються висока якість використаних
            матеріалів з ​​ексклюзивним дизайнерським оформленням.</p>
        <p>Щоб піднести оригінальний подарунок дорогій людині з будь-якої урочистої нагоди, вам буде потрібно зовсім
            небагато часу - вибравши що-небудь із запропонованої нами продукції, ви не помилитеся, оскільки іншого точно
            такого ж виробу просто не існує. Уся продукція My Plywood House відповідає найвищим стандартам і вимогам,
            а також санітарно-гігієнічним нормам.</p>
        <p> «My Plywood House» не тільки прикрасить інтер'єр вашої квартири або будинку, а
            й принесуть атмосферу гармонії і затишку. Крім того, вся продукція несе не тільки очевидну
            декоративну функцію, а й також є дуже міцною і функціональною, що дозволяє користуватися нею протягом
            довгих років.</p>
        <h3>Хто є нашими клієнтами?</h3>
        <p>Зазвичай, нашими клієнтами є власники ресторанів та кафе, молоді батьки, люди, що шукають креативні подарунки
            для рідних, квіткові салони, сімейні пари та організатори весільних церемоній.</p>
        <h3>Що ми виготовляємо?</h3>
        <p>Інтернет магазин «My Plywood House» спеціалізується на виготовлені таких речей:
            <ul>
                <a href="">
                    <li>Жалюзійні двері</li>
                </a>
                <a href="">
                    <li>Дерев’яні меблі</li>
                </a>
                <a href="">
                    <li>Дерев'яний посуд ( підноси, тарілки, ложки, ступки, доски для нарізки)</li>
                </a>
                <a href="">
                    <li>Предмети для сервіровки столу (салфетниці, підставки для тортів та солодощів)</li>
                </a>
                <a href="">
                    <li>Дизайнерські фоторамки та дитячі метрики</li>
                </a>
                <a href="">
                    <li>Настільні лампи та підвісні люстри</li>
                </a>
                <a href="">
                    <li>Шкатулки для прикрас</li>
                </a>
                <a href="">
                    <li>Годинники</li>
                </a>
                <a href="">
                    <li>Топпери для будь-якого свята (робимо під замовлення)</li>
                </a>
                <a href="">
                    <li>Ключниці</li>
                </a>
                <a href="">
                    <li>Весільні коробки побажань, колони , арки та інші тематичні речі</li>
                </a>
                <a href="">
                    <li>Картини з дерева</li>
                </a>
                <a href="">
                    <li>Іменні канцелярські вироби</li>
                </a>
                <a href="">
                    <li>Дитячі розвиваючі іграшки</li>
                </a>
            </ul>
        </p>
        <h3>Чим обробляємо вироби?</h3>
        <p>Для дерев'яного посуду використовуємо натуральні засоби захисту деревини, а саме виварюємо в лляній олії та
            покриваємо воском. Для нехарчових виробів використовуєм лак, фарбу, моримо маслом.</p>
        <h3>Переваги дерев'яних виробів</h3>
        <p>
            <ul>
                <li>Екологічні</li>
                <li>Міціні – не ламаються при падінні</li>
                <li>Неповторний малюнок волокон дерева</li>
                <li>Безпечні для здоров'я, оскільки обробленні натуральними засобами захисту деревини, а саме лляною
                    олією
                    та вoском</li>
                <li>Закуски естетично виглядатимуть на святковому столі</li>
                <li>Не псують ножі</li>
                <li>Дерево має унікальні протизапальні та антибактеріальні властивості</li>
                <li>Поглинають тепло гарячих страв тому гаряча їжа не обпікає руки</li>
            </ul>
        </p>
        <h3>Переваги виробів із фанери</h3>
        <p>
            <ul>
                <li>Легкий матеріал</li>
                <li>Доступна ціна</li>
                <li>Простота замінни деталей при поломці</li>
                <li>Можливість декоративно оздоблювати вироби(гравірування , розфарбовування)</li>
                <li>Широкий вибір сувенірів та подарунків для дорогих дітей</li>
                <li>Розвиваючі ігри для дрібної моторики тіла малят</li>
                <li>Індивідуальний підхід до кожного замовлення</li>
                <li>Можливість комбінування ідей з використання світлодіодів та епоксидного клею</li>
            </ul>
        </p>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

</script>
<style>
    p {
        text-indent: 3em;
    }

    h3 {
        padding: 30px;

    }

    a {
        color: green;
    }

    p li {
        margin-top: 7px;

    }

    .myContainer2 {
        margin: 0px;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    @media screen and (max-width: 767px) {
        .myContainer2 {
            padding-left: 3%;
            padding-right: 3%;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
</style>