<div id="app" class="container-fluid" style="margin-top: 60px; margin-left:0px;margin-right:0px; padding:0px;">

    <img class="img-fluid" src="../images/main_page_slider/creating_story.png" alt="">

    <div class="myContainer2">
        <h3>З чого все починалось?</h3>
        <p> <i style="font-size: 0.8em;  padding-bottom:20px; display: block; ">Зі слів одного із
                засновників
                проекту:</i>
        </p>
        <p><a href="/">«Vasina Hata»</a> - це молода компанія, що була створена в 2019 році, на базі виробничого
            підприємства з
            досвідом роботи більше 9 років. А вже в 2020 році на ваш результат працює штат працівників, що складається
            із висококваліфікованих дизайнерів, менеджерів, верстатників, операторів ЧПУ фрезерних та лазерних станків.
        </p>
        <p>Робота з деревом мене дуже захоплювала з дитинства, адже є щось магічно-неймовірне у цьому матеріалі. Його
            структура є унікальною та неповторною, як людські відбитки пальців. Такі вироби несуть таємничу
            гармонію.</p>
        <p>Тому, коли мені випала нагода попрацювати на такому виробництві, я відразу погодився, що й стало початком
            зародження ідеї. Це маленьке підприємство займалось виготовленням різноманітних виробів з дерева: від
            звичайного дерев’яного посуду, до створення жалюзійних дверей та іконостасів під замовлення.</p>
        <p>Перше, що мене здивувало, було те, як я досі не знав, що у моєму місті є таке виробництво.
            Пам’ятаю, що мене приємно вразило те, як на невеличкому подвір’ї розмістилось декілька, на вигляд ні чим
            непримітних будівель, в яких знаходилось безліч деревообробних верстатів, окремі приміщення для фрезерних та
            лазерних станків чпу, лакувальний цех, власна сушильна кімната для деревяних матеріалів, складські
            приміщання, проектна кімната та інші робочі приміщення.
        </p>


        <p>Одного разу, клієнт, помилившись із розмірами, повернув велику партію підносів для ресторану, і керівництво,
            без проблем, передало весь товар на коригування у мій цех. Я гадав, що це не вигідно робити одну роботу
            двічі, на що мені відповіли: &#171;Не вигідно втрачати гарну думку клієнта про нас, адже задоволений клієнт
            завжди повернеться!&#187</p>
        <p>Свого часу, мені вдалось попрацювати на ярмарках та фестивалях у різних містах. І саме в таких місцях
            люди хочуть надибати щось особливе та оригінальне. Ось тоді ми приходимо на допомогу -
            разом підібраємо розмір та матеріал відповідно до потреб замовника, власноруч створюємо макет майбутнього
            виробу, підбираємо гравіювання, даємо рекомендації щодо використання. В той час я почув від свого директора,
            а нині колеги, таку фразу: «Якщо поламається, приносьте наступного року - безкоштовно замінимо».
        </p>
        <p> З часом, що я там працював, зрозумів, що справа була у відсутності свіжих поглядів на продаж товарів. Нові
            клієнти дізнавались про нас, як то кажуть у народі - за допомогою сарафанного радіо. Ось тут я вдруге
            замислився над створенням чогось більшого.</p>
        <p>Однак час не стоїть на місці, а тому потрібно йти з ним в ногу . Більшість клієнтів переходять на простори
            інтернету, а значить і ми з ними.
        </p>
        <p> Раді вас вітати в інтернет магазині <a href="/">«Vasina-Hata.com»</a></p>
        <h3>Актуальність</h3>
        <p>Сьогодні, у всьому світі, люди високо цінують продукцію, виготовлену з натуральних матеріалів, оскільки
            такі вироби - екологічно чисті та не завдають шкоди навколишньому середовищу.
            Наші вироби з дерева випромінюють ні з чим незрівнянну позитивну енергетику і тепло. Вони несуть у собі
            таємничість і гармонію природи. В них унікальним чином поєднуються висока якість використаних
            матеріалів з ​​ексклюзивним дизайнерським оформленням.</p>
        <p>Щоб піднести оригінальний подарунок дорогій людині з будь-якої урочистої нагоди, вам буде потрібно зовсім
            небагато часу - вибравши що-небудь із запропонованої нами продукції, ви не помилитеся, оскільки іншого,
            точно
            такого ж виробу, просто не існує. Вся продукція <a href="/">Vasina Hata</a> відповідає
            найвищим стандартам і вимогам, а також санітарно-гігієнічним нормам.</p>
        <p> <a href="/">«Vasina Hata»</a> не тільки прикрасить інтер'єр вашої квартири або будинку, а
            й принесе атмосферу гармонії і затишку. Крім того, вся продукція має не тільки
            декоративну функцію, а й також є дуже міцною і функціональною, що дозволяє користуватися нею протягом
            довгих років.</p>
        <h3>Хто є нашими клієнтами?</h3>
        <p>Зазвичай, нашими клієнтами є власники ресторанів та кафе, молоді батьки, люди, що шукають креативні подарунки
            для рідних, квіткові салони, сімейні пари та організатори весільних церемоній.</p>
        <h3>Що ми виготовляємо?</h3>
        <p>Інтернет магазин <a href="/">«Vasina Hata»</a> спеціалізується на виготовлені таких речей:
        <ul>
            <a href="/#menu-cat">
                <li>Жалюзійні двері</li>
            </a>
            <a href="/#menu-cat">
                <li>Дерев’яні меблі</li>
            </a>
            <a href="/#menu-cat">
                <li>Дерев’яний посуд</li>
            </a>
            <a href="/#menu-cat">
                <li>Предмети для сервіровки столу (салфетниці, підставки для тортів та солодощів)</li>
            </a>
            <a href="/#menu-cat">
                <li>Дизайнерські фоторамки та дитячі метрики</li>
            </a>
            <a href="/#menu-cat">
                <li>Настільні лампи та підвісні люстри</li>
            </a>
            <a href="/#menu-cat">
                <li>Шкатулки для прикрас</li>
            </a>
            <a href="/#menu-cat">
                <li>Годинники</li>
            </a>
            <a href="/#menu-cat">
                <li>Топпери</li>
            </a>
            <a href="/#menu-cat">
                <li>Ключниці</li>
            </a>
            <a href="/#menu-cat">
                <li>Весільні коробки побажань, колони, арки та інші тематичні речі</li>
            </a>
            <a href="/#menu-cat">
                <li>Картини з дерева</li>
            </a>
            <a href="/#menu-cat">
                <li>Іменні канцелярські вироби</li>
            </a>
            <a href="/#menu-cat">
                <li>Дитячі розвиваючі іграшки</li>
            </a>
        </ul>
        </p>
        <h3>Чим обробляємо вироби?</h3>
        <p>Для дерев’яного посуду використовуємо натуральні засоби захисту деревини, а саме виварюємо в лляній олії та
            покриваємо воском. Для нехарчових виробів використовуєм лак, фарбу, моримо маслом.</p>
        <h3>Переваги дерев’яних виробів</h3>
        <p>
        <ul>
            <li>Дерево має унікальні протизапальні та антибактеріальні властивості</li>
            <li>Екологічні</li>
            <li>Поглинають тепло гарячих страв тому гаряча їжа не обпікає руки</li>
            <li>Міцні – не ламаються при падінні</li>
            <li>Неповторний малюнок волокон дерева</li>
            <li>Безпечні для здоров'я, оскільки обробленні натуральними засобами захисту деревини</li>
            <li>Закуски естетично виглядатимуть на святковому столі</li>
            <li>Не псують ножі</li>
        </ul>
        </p>
        <h3>Переваги виробів із фанери</h3>
        <p>
        <ul>
            <li>Легкий матеріал</li>
            <li>Доступна ціна</li>
            <li>Простота замінни деталей при поломці</li>
            <li>Можливість декоративно оздоблювати вироби(гравірування, розфарбовування)</li>
            <li>Широкий вибір сувенірів та подарунків для близьких людей</li>
            <li>Розвиваючі ігри для дрібної моторики тіла малят</li>
            <li>Втілення будь-яких ідей клієнта</li>
            <li>Комбінування ідей з використання світлодіодів та епоксидного клею</li>
        </ul>
        </p>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

</script>
<style>
    p {
        text-indent: 3em;
    }

    h3 {
        padding: 30px;

    }

    a {
        color: green;
    }

    p li {
        margin-top: 7px;

    }

    .myContainer2 {
        margin: 0px;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    @media screen and (max-width: 767px) {
        .myContainer2 {
            padding-left: 3%;
            padding-right: 3%;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
</style>