<div id="app" class="container" style="margin-top: 100px; margin-bottom:50px;">
   <div class="row">
      <div class="col-md-6">
         <div class="card">
            <div class="card-header">
               <div class="row">
                  <div class="col">
                     Новий продукт
                  </div>

               </div>
            </div>
            <div class="form">
               <div class="card-body">
                  <div style="margin:30px; color:red;"> \{{error}}</div>
                  <div class="container-fluid">

                     <div class="form-group">
                        <label for="category" class="form-control-label">Категорія:</label>
                        <select name="category" id="category" class="form-control" v-model="category">

                           <option v-for="c in categories" :value="c.id">\{{c.title}}</option>

                        </select>
                     </div>
                     <div class="form-group">
                        <label for="title" class="form-control-label">Заголовок:</label>
                        <input type="text" class="form-control" id="title" name="title" v-model="title">
                     </div>
                     <div class="form-group">
                        <label for="description" class="form-control-label">Опис:</label>
                        <textarea type="text" class="form-control" id="description" name="description"
                           v-model="description"></textarea>
                     </div>
                     <div class="form-group">
                        <label for="price" class="form-control-label">Ціна:</label>
                        <input type="number" class="form-control" id="price" name="price" v-model="price">
                     </div>
                     <label for="allImages" class="form-control-label">Картинки:</label>
                     <div id="allImages">
                        <div class="custom-file" style="margin-bottom:10px;">
                           <label for="mainImage" class="custom-file-label">Головна картинка</label>
                           <input type="file" class="custom-file-input" id="mainImage" name="mainImage"
                              accept="image/jpeg,image/png,image/gif" @change="getMainImage()">
                        </div>
                        <div class="custom-file" style="margin-top:10px;margin-bottom:10px;">
                           <label for="" class="custom-file-label">Картинки</label>
                           <input type="file" class="custom-file-input" id="images" name="images" multiple ref="images"
                              accept="image/jpeg,image/png,image/gif" @change=" getImages()">
                        </div>
                     </div>

                     <button class="btn btn-success btn-block" type="submit" id="submit" @click="onSubmit()"
                        style="margin-top:10px;margin-bottom:10px;">Зберегти</button>
                  </div>


               </div>
            </div>
         </div>
      </div>
      <div class="col-md-6">


      </div>
   </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>



   var app = new Vue({
      el: '#app',
      data: {
         categories: null,
         category: 1,
         title: "",
         description: "",
         price: 0,
         mainImage: null,
         images: [],
         error: ""

      },


      created() {
         axios.get('/admin/get-categories')
            .then(res => {
               this.categories = res.data;
            })
      },

      methods: {
         selectionChange(editor, range) {
            if (range) {
               if (range.start !== range.end) {
                  this.selectedText = editor.getText(range.start, range.end)
                  editor.formatText(range, 'custom', 'hello world')
               }
            }
         },
         onSubmit() {
            this.error = ""
            if (this.title == "") this.error += "Введіть назву! ";
            if (this.description == "") this.error += "Введіть опис! ";
            if (this.category == null) this.error += "Виберіть категорію! ";
            if (this.price == 0) this.error += "Вкажіть коректну ціну! ";
            if (this.mainImage == null) this.error += "Загрузіть титульну картинку! ";
            if (this.images.length < 1 || this.images.length > 4) this.error += "Загрузіть від 1 до 4 картинок";
            console.log(this.images);
            if (this.title.length > 40) this.error += "Заголовок повинен бути менше 40 символів!";
            if (this.error == "") {

               var Data = new FormData();
               Data.append("category", this.category);
               Data.append("title", this.title);
               Data.append("description", this.description);
               Data.append("price", this.price);
               Data.append("mainImage", this.mainImage);
               this.images.forEach((i, index) => {
                  Data.append("images" + index, i);

               });
               var jsonData = {
                  "category": this.category,
                  "title": this.title,
                  "description": this.description,
                  "price": this.price,
                  "mainImage": this.mainImage,
                  "images": this.images
               };
               //  console.log(jsonData);
               //  console.log(this.category, this.title, this.description, this.price, this.mainImage, this.images);
               axios.post('/admin/save-new-product', Data, {
                  headers: {
                     'accept': 'application/json',
                     'Accept-Language': 'en-US,en;q=0.8',
                     'Content-Type': `multipart/form-data`
                  }
               }).then(res => {
                  console.log(res.data);
                  alert(res.data);
               });
            }

         },
         getMainImage() {
            this.mainImage = mainImage.files[0];
         },
         getImages() {
            this.images = Array.from(images.files);
         }
      }
   })





   $(document).ready(function () {
      $('.myCategory').on('click', function () {
         //   console.log($(this));
      });

      $('.custom-file-input').on("change", function () {
         var files = $(this)[0].files;
         var names = "";
         $.each(files, (index, value) => {
            names += value.name + ", ";
         })
         names = names.slice(0, -2);
         //  console.log(names);
         $(this).prev('.custom-file-label').html(names);
      });

   });
</script>