<div id="app" class="container-fluid" style="margin-top: 60px; margin-left:0px;margin-right:0px; padding:0px;">

    <div class="parallax3" style="color:white; text-align:center;">
        <div style="margin:auto auto;">
            <div class="bebas">Часті запитання</div>
        </div>
    </div>
    <div class="myContainer2">
        <br><br>
        <h4>&laquo;Ви можете зробити таку річ?&raquo;</h4>
        <br>
        <p>-Так.</p>
        <p>Окрім виробів представлених на сайті, ми виготовляємо <strong>індивідуальні замовлення з дерева та
                фанери.</strong> </p>
        <p>Для цього вам
            потрібно
            відправити фото нам у <a target="_blank" href="https://www.instagram.com/my_plywood_house/"><i
                    class="fa fa-instagram" style="margin:0 5px;"></i>instagram</a>, а
            також вказати <b>розмір</b> та <b>мaтеріал</b> для виробу. Якщо ви не
            впевнені в чомусь або не знаєте напевно, які матеріали підібрати - Вам допоможе наш <b>косультант</b>.</p>
        <br>
        <h4>&laquo;Як купити оптом?&raquo;</h4>
        <br id="busines-partner">
        <p>Ви можете замовити будь-який виріб по оптових цінах починаючи <strong>від 10 штук і більше.</strong> <br> Для
            цього відправте
            нам у
            <a target="_blank" href="https://www.instagram.com/my_plywood_house/"><i class="fa fa-instagram"
                    style="margin:0 5px;"></i>instagram</a> назву товару та фото, вкажіть матеріал, розміри якщо це
            необхідно.</p>

        <br>
        <h4>&laquo;Як стати бізнес-партнером?&raquo;</h4>
        <br>
        <p>З питань співпраці звертайтесь за <a href="#contacts">контактами</a> у нижній частині сайту.
        </p>
        <br>
        <h4>&laquo;Які послуги ми надаємо?&raquo;</h4>
        <br>
        <table class="table table-bordered table-hover myTable">
            <thead>
                <tr>
                    <th>Послуги</th>
                    <th>Вартість</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Виготовлення на замовлення виробів з дерева та фанери.</td>
                    <td>Залежить від матеріалу, складності виробу та методу обробки.</td>
                </tr>
                <tr>
                    <td>Створення векторних макетів для станків з ЧПУ(числове програмне управління).</td>
                    <td>Визначається після оцінки складності проекту.</td>
                </tr>
                <tr>
                    <td>Обробка виробів з дерева, фарбування, лакування тощо.</td>
                    <td>Залежить від об'єму роботи і способу обробки.</td>
                </tr>
                <tr>
                    <td>Продаж Ваших виробів на <a href="/">Vasina-Hata.com</a></td>
                    <td>Щоб дізнатись деталі дивіться <a href="#busines-partner">&laquo;Як
                            стати бізнес-партнером?&raquo;</a></td>

                </tr>
            </tbody>
        </table>







    </div>



    <br>
    <br>
    <div id="contacts"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

</script>
<style>
    .container-fluid {
        animation: linear fadeInAnimation 0.6s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }

        25% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    h3 {
        padding: 30px 0;
        color: green;

    }

    a {
        color: green;
    }




    .myContainer2 h4 {
        color: green;
    }

    .myContainer2 {
        margin: 0px;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .parallax3 {
        letter-spacing: 0.04em;

        background-image: url("/images/ImageStatic/back_11.png");
        font-size: 3em;
        padding-top: 150px;
        padding-bottom: 150px;
        font-weight: bold;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    @media screen and (max-width: 767px) {
        .myTable td {
            font-size: 14px;
        }

        .myContainer2 {
            padding-left: 3%;
            padding-right: 3%;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .parallax3 {
            background-image: url("/images/ImageStatic/back_11.png");
            background-attachment: scroll padding-top: 150px;
            padding-bottom: 150px;
            font-size: 2em;
            font-weight: bold;
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }


    }
</style>