<div id="app" class="container-fluid" style="margin-top: 60px; margin-left:0px;margin-right:0px; padding:0px;">

    <div class="parallax3" style="color:white; text-align:center;">
        <div style="margin:auto auto;">
            <div class="bebas">Політика конфіденційності</div>
        </div>
    </div>
    <div class="myContainer2">
        <br><br>
        <p>Інтернет ресурс <a href="/">«Vasina-Hata.com»</a> (далі — «Vasina-Hata.com») дотримується принципів
            конфіденційності й
            недоторканості інформації, отриманої від клієнтів Vasina-Hata.com в рамках надання поштово-логістичних та
            інших послуг, що ми надаємо (далі – «Послуги»).</p>
        <p>Vasina-Hata.com гарантує збереження інформації з обмеженим доступом та захист персональних даних користувачів
            Послуг (далі – Користувачі), у т.ч. при використанні офіційного сайту Vasina-Hata.com, мобільних додатків,
            прикладних програмних інтерфейсів та застосувань, платежів та переказів за платіжними системами тощо (далі –
            Послуги).</p>
        <p>Політика конфіденційності (далі – Політика) націлена на публічне інформування Користувачів про порядок збору
            (обробки), зберігання, передачі персональних даних та інформації, що надається в рамках надання Послуг
            Vasina-Hata.com.</p>
        <p> Використовуючи Послуги Vasina-Hata.com, Користувач погоджується з усіма правилами та умовами Політики.</p>
        <p>
            Перед початком використання Послуг просимо ознайомитися з Політикою.</p>
        <br><br>
        <h4>Мета обробки персональних даних</h4>
        <br>
        <p>Метою обробки персональних даних є надання Послуг.</p>
        <br><br>
        <h4>Збір персональних даних</h4>
        <br>
        <p> Персональні дані – відомості чи сукупність відомостей про Користувача, який ідентифікований або може бути
            конкретно ідентифікований.</p>
        <p> Неперсоніфікована інформація — інформація, яка не прив’язана до конкретного Користувача Послуг.</p>
        <p> Персональні дані, які обробляє Vasina-Hata.com, охоплюють контактні дані, які надаються Користувачами при
            використанні Послуг (прізвище, ім’я, по батькові, номер телефону, адреса електронної пошти тощо); яка
            використовується для оплати товарів та Послуг Vasina-Hata.com; номери та історію відправлень тощо.
            Інформація
            отримується при використанні Користувачем Послуг, у т.ч. за допомогою сайту Vasina-Hata.com, мобільних
            додатків
            тощо. Дані передаються Користувачами добровільно з метою забезпечення можливості виконання Vasina-Hata.com
            зобов’язань за Послугами.</p>
        <p>
            Неперсоніфікована інформація використовується виключно для формування статистичних даних та з метою
            покращення Послуг, у т.ч. інформування Користувача про нові Послуги. Зокрема у разі використання мобільного
            додатку, – версія операційної системи, приблизне місцезнаходження мобільного пристрою у разі самостійного
            надання згоди Користувачем на використання гео-локації, IP-адреса пристрою, дата та час авторизації у
            мобільному застосунку.</p>




        <br><br>
        <h4>Використання інформації</h4>
        <br>
        <p>
            Інформація, яку отримує Vasina-Hata.com використовується для:
        </p>
        <ul>
            <li>створення облікового запису Користувачем;</li>
            <li>надання Послуги або функції, яку замовив Користувач;</li>
            <li>зв’язку з Користувачами з метою інформування про персоналізовані унікальні пропозиції та акції
                Vasina-Hata.com;
            </li>
            <li>оцінки та аналізу ринку, клієнтів, продуктів та сервісів, які надаються Vasina-Hata.com;</li>
            <li>ефективного клієнтського обслуговування;</li>
            <li>забезпечення оновлення і технічної підтримки Послуг, у т.ч. мобільного застосунку на пристрої
                Користувача;</li>
            <li>будь-яких інших цілей в обсязі, достатньому для якісного надання Послуг.</li>
        </ul>
        <br><br>
        <h4>Передача інформації третім особам</h4>
        <br>
        <p>
            Vasina-Hata.com передає інформацію отриману від Користувачів в рамках надання Послуг третім особам з метою
            належного виконання своїх обов’язків за цими Послугами.
        </p>
        <p>
            Поширення Vasina-Hata.com персональних даних без згоди Користувача або уповноваженої ним особи дозволяється
            у випадках, визначених законом, і лише (якщо це необхідно) в інтересах національної безпеки, економічного
            добробуту та прав людини.</p>

        <br><br>
        <h4>Безпека
        </h4>
        <br>
        <p>
            На веб-ресурсах Vasina-Hata.com вжиті достатні заходи для захисту інформації, проте просимо прийняти до
            уваги, що абсолютно безпечного та безпомилкового шляху передачі даних мережею Інтернет не існує.
        </p>
        <p>
            Vasina-Hata.com не несе відповідальності за функціонування серверів, постачальників послуги доступу до
            мережі
            Інтернет, роботу третіх осіб, з вини яких може бути неможливий чи обмежений доступ до сайту, можливий витік
            інформації з вини третіх осіб, а також за розголошення Користувачем своїх персональних даних, у т.ч. даних
            авторизації на сайті Vasina-Hata.com, у мобільних додатках, прикладних програмних інтерфейсах та
            застосуваннях.
        </p>
        <p> Інформація, що розміщена на веб-ресурсах ДЖАСТ ІН, охороняється діючим законодавством, яке регулює право
            інтелектуальної власності. Тиражування, переклад, запис в архіві, копіювання на інші електронні носії
            інформації, яка розміщена, дозволяється лише за згодою власників сайту Vasina-Hata.com.</p>
        <br><br>

        <h4>Права та обов’язки Користувача</h4>
        <br>
        <p>Користувач має право на отримання інформації про порядок обробки своїх персональних даних, а також інші
            права, визначені частиною 2 статті 8 Закону України «Про захист персональних даних» від 01.06.2010 № 2297-VI
            (зі змінами) (далі – Закон).
        </p>
        <p>Користувач зобов’язаній, зокрема але не обмежуючись:</p>
        <ul>
            <li> не вчиняти дії, спрямовані на введення інших Користувачів в оману;
            </li>
            <li>
                не надавати в користування свої персональні дані третім особам;
            </li>
            <li> не здійснювати збирання, систематизацію, зберігання, обробку або поширення персональної інформації
                інших
                Користувачів;</li>
            <li> не намагатися одержати доступ до персональних даних інших Користувачів будь-яким способом, включаючи,
                але не
                обмежуючись, шляхом обману, зловживання довірою, підбору даних аутентифікації та ідентифікації.</li>
        </ul>
        <p> Якщо Користувач надає свої дані на офіційному сайті Vasina-Hata.com, у мобільних додатках, прикладних
            програмних інтерфейсах та застосуваннях від імені та в інтересах третіх осіб, то надаючи дану згоду
            Користувач підтверджує те, що має достатній обсяг повноваження для вчинення таких дій, в тому числі – щодо
            надання від їх імені згоди на обробку персональних даних на викладених вище умовах, як їх представник
            (батько, мати, опікун, та інші, передбачені чинним законодавством, особи).</p>
        <br><br>
        <h4>Згода Користувача</h4>
        <br>
        <p>Відповідно до Закону, з метою отримання Послуг Користувачі надають згоду на обробку персональних даних за
            Послугами Vasina-Hata.com.</p>
        <p>Реєструючись на офіційному сайті Vasina-Hata.com, у мобільних додатках, прикладних програмних інтерфейсах та
            застосуваннях, Користувач підтверджує те, що ознайомлений з умовами цієї Політики конфіденційності, зокрема
            і з метою обробки персональних даних, зазначених у цій Політиці, і правами, наданими суб’єктам персональних
            даних згідно зі ст. 8 Закону, та використання персональних даних Vasina-Hata.com , шляхом проставлення
            галочки у
            графі «Погоджуюсь з Політикою конфіденційності».</p>
        <br><br>
        <h4>Файли cookie</h4>
        <br>
        <p> Cookie — це невеликі текстові файли, які зберігаються на пристроях Користувача під час відвідування сайту
            Vasina-Hata.com. На сайті Vasina-Hata.com можуть бути використані файли cookie, щоб зрозуміти, який вміст
            вас цікавить, і
            запам’ятати вас, якщо ви знову завітаєте на сайт. Vasina-Hata.com зберігає файли cookie, щоб забезпечити
            технічно
            бездоганне і оптимізоване надання Послуг.</p>
        <p> Файли cookie, які можуть бути використані Vasina-Hata.com, не можуть завдати шкоди пристроям Користувача.
            Більшість
            файлів cookie, які можуть бути використані Vasina-Hata.com, є так званими сеансовими файлами cookie, які
            автоматично видаляються в кінці відвідування Користувачем веб-сайту ДЖАСТ ІН. Інші файли cookie залишаються
            на пристроях Користувача до тих пір, поки він їх не видалить. Ці файли cookie дозволяють розпізнавати
            браузер Користувача при наступному відвідуванні.</p>


        <br><br>
        <h4>Додаткова інформація</h4>
        <br>
        <p>
            Vasina-Hata.com залишає за собою право змінювати Політику конфіденційності.
            У випадку виникнення запитань щодо Політики конфіденційності, надсилайте лист на електронну пошту
            <a href="mailto:vasinahata.info@gmail.com">vasinahata.info@gmail.com</a></p>
        <br>






    </div>



    <br>
    <br>
    <div id="contacts"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

</script>
<style>
    .container-fluid {
        animation: linear fadeInAnimation 0.6s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }

        25% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    h3 {
        padding: 30px 0;
        color: green;

    }

    a {
        color: green;
    }




    .myContainer2 h4 {
        color: green;
    }

    .myContainer2 {
        margin: 0px;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .parallax3 {
        letter-spacing: 0.04em;

        background-image: url("/images/ImageStatic/back_11.png");
        font-size: 3em;
        padding-top: 150px;
        padding-bottom: 150px;
        font-weight: bold;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    @media screen and (max-width: 767px) {
        .myTable td {
            font-size: 14px;
        }

        .myContainer2 {
            padding-left: 3%;
            padding-right: 3%;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .parallax3 {
            background-image: url("/images/ImageStatic/back_11.png");
            background-attachment: scroll padding-top: 150px;
            padding-bottom: 150px;
            font-size: 2em;
            font-weight: bold;
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }


    }
</style>